
body {
    text-align: center;
    margin:0;
}

.container {
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    align-items: center;
}

.rectangulo {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
