.allContainer{
    padding: 0;
    margin: 0;
    max-width: 700px;
    margin: auto;
}
.filters {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
select{
  margin-bottom: 1.5rem;
  width: 200px;
  height:50px;
  font-size: 20px;
  text-align: center;
}

/*calendario*/

.calendar-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  

  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  
  .calendar-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    height: 50px;
  }
  
  @media(max-width:500px){
    .calendar-grid{
      grid-gap: 0px;
    }
    .calendar-grid div{
      border-radius: 0;
    }
    
  }
  .calendar-grid div:nth-child(7n) {
    color: red; /* Domingo */
  }
  

.dayDiv {
    background-color: rgb(225, 225, 225);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

.dayDiv:hover{
    background-color: rgb(175, 175, 175);
}

.dayDiv:active{
    transform: scale(0.9)
}

.day-available {
  background-color: #096900;
  color:rgb(255, 255, 255);
}

.day-available:hover {
  background-color: #11c900;
  color:rgb(255, 255, 255);
}



/* tabla de turnos */
table {
  width: 100%;
  border-collapse: collapse;
}
  
th, td {
  border: 1px solid #ddd;
  text-align: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding: 10px;
}
  
td:hover {
  background-color: #f0f0f0;
}
  

.listaTurnos{
    font-family: sans-serif;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom:50px;
}

.medic-table{
    background-color: #e6e6e6;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
}
  
  

  
