body { 
    font-family: Arial, sans-serif; 
    padding: 0;
    margin: 0;
}

.container { 
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
}

input { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
}

button { 
    padding: 10px; 
}

ul { 
    list-style-type: none; 
    padding: 0; 
}

li { 
    text-align: center;
    background: #f4f4f4; 
    margin: 20px 0; 
    padding: 10px; 
    border-radius: 30px; 
    border: 1px solid #000000;
}

