body {
    text-align: center;
    margin:0;
    background-color:#f2f2f2;
    font-family: sans-serif;
}

/* navbar */

/* Estilos generales */
.navbar{
  background-color: #006004;
  height:100px;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: sans-serif;
}

.navbar h1{
  color:#ffffff;
  font-size: 50px;
}

.navbar button {
  font-size: 20px;
  height: 60px;
  width:200px;
  margin-left: 50px;
  border: none;
  background-color: #ffffff;
  color:#000000;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 5px #000000; 
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0a8400;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .navbar {
      flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
      height: auto;    /* Ajusta la altura dinámica según el contenido */
      justify-content: space-around;
      padding: 10px;
  }

  .navbar h1 {
      font-size: 30px; /* Reduce el tamaño del título */
      margin-bottom: 10px; /* Añade espacio entre el título y los botones */
  }

  .navbar button {

      margin-left: 0;
      margin-bottom: 10px; /* Añade espacio entre botones */
  }
}

/* Media queries para pantallas extra pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .navbar h1 {

  }

  .navbar button {

  }
}


/* botones */

.boton_opciones_home{
    border-left: 10px solid rgba(255, 255, 255, 0);
    justify-content: center;
    align-content: center;
    width: 170px;
    height: 170px;
    margin:30px;
    margin-top: 20px;
    background-color: #ededed;
    color: #000000;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
    font-family: sans-serif;
}

.boton_opciones_home p {
  margin: auto;
}

.boton_opciones_home:hover{
  transform: scale(1.1);
  border-left: 10px solid #408d49;
}
.boton_opciones_home:active{
  transform: scale(1);
}

.cancelarBoton{
  background-color: rgb(199, 0, 0);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.aceptarBoton{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .boton_opciones_home{
        
    }
}


#turnosList { 
  list-style-type: none; 
  padding: 0; 
}

#turnosList li { 
  text-align: center;
  background: #f4f4f4; 
  margin: 20px 0; 
  padding: 10px; 
  border-radius: 30px; 
  border: 1px solid #000000;
}
