.navbar{
    background-color: #4CAF50;
    height:100px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: sans-serif;
}

.navbar h1{
    color:white;
    border: 1px solid #ffffff;
}
.navbar button {
    font-size: 20px;
    height: 60px;
    width:200px;
    margin-left: 50px;
    border: none;
    background-color: #064e00;
    color:white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px black; 
    cursor:pointer;
}

.navbar button:hover {
    background-color: #0a8400;
}