.navbar{
    background-color: #ebebeb;
    height:100px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.navbar button{
    color:black;
    margin-left: 50px;
    height:40px;
    width:100px;
    background-color: rgb(207, 207, 207);
    border-color: rgb(255, 0, 0);
}

