
/* Estilos para los controles */
h1,h2{
    color: #000000;
    font-family:monospace;
    text-align: center;
}


select{
    width: 200px;
    height:50px;
    font-size: 20px;
    text-align: center;
}