<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/elements/navbar.css">
    <link rel="stylesheet" href="/css/elements/button.css">

    <title>Bienvenido</title>
</head>
<body>
    <div class="navbar">
        <h1> ¡Bienvenido! Elija una opción </h1>
    </div>
    <div class="container">
        <div class="column">
            <div class="button1" onclick="location.href='/html/medico/opciones.html'">Soy medico</div>
            <div class="button1" onclick="location.href='/html/paciente/opciones.html'">Soy paciente</div>
        </div>
    </div>
</body>
</html>