<!DOCTYPE html>
<html>
	<head>
		<title>Hospital Tuna</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/css/login/login.css">
		<link rel="stylesheet" type="text/css" href="/css/base.css">
	</head>
	<body>
        <div class="box" id="loginBox">
			<div class="form_container">
				<form>
					<h2><img id="icono_hosital_img" src="/images/hospital2.png"> Iniciar sesión</h2>
					<label id="ini" for="loginEmail">Correo electrónico</label>
					<input id="loginEmail" type="email" name="email" placeholder="Correo electrónico" required>

					<label for="loginPassword">Contraseña</label>
					<input id="loginPassword" type="password" name="pswd" placeholder="Contraseña" required>
					<div id="loginShowPasswordDiv" class="showPasswordDiv">
						<input id="loginShowPasswordInput" class="form-check-input" type="checkbox" value="ver">					
						<label id="showPasswordLabel" for="loginShowPasswordInput">Mostrar contraseña</label>
					</div>


					<button type="button" id="loginBtn">Iniciar sesión</button>
					<button type="button" class="toggler" id="toggleRegister">Registrarse</button>
				</form>
			</div>
        </div>

        <div class="box hidden" id="registerBox">
			<div class="form_container">
				<form>
					<h2>Registrarse</h2>

					<label for="nombre">Nombre*</label>
					<input type="text" id="nombre" placeholder="Nombre" required>

					<label for="apellido">Apellido*</label>
					<input type="text" id="apellido" placeholder="Apellido" required>

					<label for="dni">DNI*</label>
					<input type="text" id="dni" placeholder="DNI" required>


					<label for="telefono">Teléfono*</label>
					<input type="text" id="telefono" placeholder="Teléfono" required>

					<label id="reg" for="email">Correo Electrónico*</label>
					<input type="email" id="email" placeholder="Correo Electrónico" required>

					<label for="password">Contraseña*</label>
					<input type="password" id="password" placeholder="Contraseña" required>

					<label for="passwordReplay">Repetir contraseña*</label>
					<input type="password" id="passwordReplay" placeholder="Repetir contraseña" required>


					<button type="button" id="registerBtn">Registrarse</button>
					<button type="button" class="toggler" id="toggleLogin">Iniciar sesion</button>

				</form>
			</div>

        </div>
 	
		<script src="/js/api.js"></script>
		<script src="/js/popups.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>
